extends layout

block content
    h1= title
    .container-fluid.h-100
        .row.justify-content-center.h-100
            .col-md-4.col-xl-3.chat
                .card.mb-sm-3.mb-md-0.contacts_card
                    .card-header
                        .input-group
                            input.form-control.search(type='text' placeholder='Search...' name='')
                            .input-group-prepend
                                span.input-group-text.search_btn
                                    i.fas.fa-search
                    .card-body.contacts_body
                        ui.contacts
                            each user in users
                                li
                                    .d-flex.bd-highlight
                                        .img_cont
                                            img.rounded-circle.user_img(src='https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg')
                                            span.online_icon
                                        .user_info
                                            span
                                                = user.username
                                            p
                                                = `${user.username} is online`
                    .card-footer
            .col-md-8.col-xl-6.chat
                .card
                    .card-header.msg_head
                        .d-flex.bd-highlight
                            .img_cont
                                img.rounded-circle.user_img(src='https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg')
                                span.online_icon
                            .user_info
                                span
                                    = reqUser.username
                                p 1767 Messages
                        span#action_menu_btn
                            i.fas.fa-ellipsis-v
                        .action_menu
                            ul
                                li
                                    i.fas.fa-user-circle
                                    |  View profile
                                li
                                    i.fas.fa-users
                                    |  Add to close friends
                                li
                                    i.fas.fa-plus
                                    |  Add to group
                                li
                                    i.fas.fa-ban
                                    |  Block
                    .card-body.msg_card_body
                        each message in messages
                            .d-flex.justify-content-start.mb-4
                                .img_cont_msg
                                    img.rounded-circle.user_img_msg(src='https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg')
                                .msg_cotainer
                                    = `${message.User.username}: ${message.content}`
                                    span.msg_time
                                        = message.createdAt
                    .card-footer
                        form(action="/users/" + reqUser.id + "/messages/create", method="post", id="submitMessageForm")
                            .input-group
                                .input-group-append
                                    span.input-group-text.attach_btn
                                        i.fas.fa-paperclip
                                textarea.form-control.type_msg(name='content' placeholder='Type your message...')
                                .input-group-append
                                    span.input-group-text.send_btn
                                        i.fas.fa-location-arrow(id="submitMessage")
                                        script.
                                            document.getElementById("submitMessage").onclick = function() {
                                                document.getElementById("submitMessageForm").submit();
                                            }
    if reqUser.role === "admin"
        div(class="col-md-4")
            h2 Create user

            form(action="/users/create", method="post", class="well")
                div(class="form-group")
                    label(for="username")
                        | Username
                    input(type="text", name="username", class="form-control")
                    label(for="password")
                        | Password
                    input(type="password", name="password", class="input-sm form-control")
                input(type="submit" class="btn btn-default")

        div(class="col-md-6")
            h2 Users

            ul
                each user in users
                    li
                        strong
                            = user.username
                        | &nbsp;
                        a(href="/users/" + user.id + "/destroy", class="btn btn-xs btn-warning") delete
                        ul
                            li
                                | Create message
                                form(action="/users/" + user.id + "/messages/create", method="post", class="form-inline")
                                    div(class="form-group")
                                        input(type="text", name="content", class="input-sm form-control")
                                        input(type="submit", class="btn btn-sm btn-default")
                            each message in user.Messages
                                li
                                    strong
                                        = message.content
                                    | &nbsp;
                                    a(href="/users/" + user.id + "/messages/" + message.id + "/destroy",  class="btn btn-xs btn-warning") delete
